body {
  font-family: "Amatic SC", cursive;
}

p {
  padding-left: 15px;
}

button {
  margin: 5px;
}

/*button:hover,
button:focus,
.button:hover,
.button:focus {
cursor: pointer;
opacity: 0.8;
}*/

/*.name-button {
font-family: inherit;
font-size: large;
padding: 10px;
text-align: center;
background-color: #415d43;
color: #f0e7d7;
text-decoration: none;
margin: 5px;
border-radius: 3px;
transition-duration: 0.2s;
transition-property: opacity;
}*/
